:root {
  /* TEMA POR DEFECTO: VINOTINTO (Control Panel, Agenda, etc.) */
  --primary-color: #800020;         /* Vinotinto */
  --primary-hover: #5a0017;         
  --primary-light: #f8d7da;         /* Vinotinto clarito para fondos */
  --primary-shadow: rgba(128, 0, 32, 0.15);
  
  --line: #c3c6d5;
  --bg-page: #f7f9fb;
  --text-main: #191c1e;
}

/* CLASE PARA AZUL (Solo para Home y Registro) */
.theme-blue {
  --primary-color: #00317e;         /* Azul */
  --primary-hover: #0046ad;
  --primary-light: #dae2ff;         /* Azul clarito */
  --primary-shadow: rgba(0, 49, 126, 0.18);
}